<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" type="images/x-icon" href="../img/logo-letras.png" />
    <title>Trailerflix</title>
</head>
<body>
        <h1>TRAILERFLIX</h1>
        <div id="linea-divisoria"style="height: 2px;"></div>
        <div class="main-container">
          <nav>
            <ul>
                <li><img src="../img/logo-letras.png" alt="logo-personal-navbar" height="50" width="50"></li>
                <li><a href='/catalogo'>Catalogo</a></li>
                <li><a href='/catalogo/categoria/serie'>Series</a></li>
                <li><a href='/catalogo/categoria/pelicula'>Películas</a></li>
                <li><a href='/catalogo/categoria/documental'>Documentales</a></li>
              </ul>  
            </nav>
          </div>
          <div id="linea-divisoria"style="height: 2px;"></div>
</body>
</html>